@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
   font-family: 'Segoe UI Regular';
   font-style: normal;
   font-weight: normal;
   src: local('Segoe UI Regular'), url('fonts/Segoe UI.woff') format('woff');
}
@font-face {
   font-family: 'Segoe UI Bold';
   font-style: normal;
   font-weight: normal;
   src: local('Segoe UI Bold'), url('fonts/Segoe UI Bold.woff') format('woff');
}

body{
   font-family: 'Montserrat', sans-serif !important;
}

